* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    background-color: black;
    color: white;
}
.Website-header {
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}
.Website-header img {
    margin: 0 30px;
}
.Website-header h1 {
    margin: auto 0;
}
.social-icon {
    text-align: right;
    flex-grow: 1;
}
.social-icon i {
    margin: 0 3px;
    cursor: pointer;
}
nav {
    display: flex;
    background-color: black;
    height: 50px;
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 15px 0 0 25px;
}
.navbar-nav li {
    padding: 10px 22px;
}
.navbar-nav li a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
.navbar-nav li a:hover {
    color: rgb(173, 92, 0);
}
.breaking-news-section  {
    padding: 15px 30px 8px 60px;
    display: flex;
    
}
#btext {
    width: 200px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: rgb(173, 92, 0);
    font-weight: 600;
    margin: auto 0;
}
a>.breaking-news  {
    color: white;
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
}
.breaking-news:hover {
    color: brown;
    cursor: pointer;
    
}
 .bntime {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    padding: 0 10px;
    font-size: 20px;
}
#popular-news {
    display: flex;
    margin: 30px 5px;
}
#popular-news img {
    width: 100%;
} 
#popular-news h2 {
    margin: 0;
    padding: 5px;
    color: white;
}
#featured h2 {
    background-color: black;
}
#latest h2 {
    background-color: darkred;
}
#featured  h2 {
    background-color: darkblue;
}

